:root {
    --text-color: #4e4f52;
    --background-color: #38e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* general section formatting */
section {
    padding: 40px;
}

section h2 {
    font-size: 30px;
}

section p a {
    color:var(--text-color);
}

.flex-title {
    flex: 0 0 20%;
    padding-right: 20px;
    border-right: 3px solid var(--text-color);
    text-align: right;
    padding-left: 50px;
}


/* header formatting begins here */
header {
    padding: 20px 0 20px 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    display: inline;
}

header h1 a {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 0 15px 0 75px;
}

header a {
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: var(--text-color);
}

/* hero formatting starts here */
.hero {
    background-image: url("../images/hero-portfolio.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero h2 {
    color: var(--background-color);
    position: absolute;
    bottom: 40px;
    right: 50px;
    font-size: 30px;
    padding: 10px;
    background-color: var(--text-color);
}

/* about me formatting begins */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 80%;
}

.about-img {
    flex: 1;
    padding-left: 20px;
}

.about-img img {
    max-width: 100%;
}

.about-text {
    flex: 5;
    padding-left: 20px;
}

/* my work formatting begins */
.work-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 5;
    padding-left: 20px;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 2px 8px 2px 30px;
    bottom: 30px;
    left: 2px;
    font-size: 20px;
    z-index: 999;
}

.project:first-child img {
    max-width: 100%;
    height: 350px;
    width: 850px;
    margin-top: 0px;
}

.project img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    opacity: 0.5;
    height: 225px;
    width: 400px;
    border: 2px solid var(--text-color);
    margin-top: 20px;
}

.project img:hover {
    opacity: 1;
}

/* contact me formatting begins */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 80%;
}

.contact-container nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

.contact-container nav ul li a {
    list-style: none;
    color: var(--text-color);
    margin: 0 70px;
}

/* footer formatting begins */
footer {
    background-color: var(--background-color);
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}

footer h3 {
    display: inline;
    color: var(--text-color);
    font-size: 15px;
    margin: 0;
    font-weight: lighter;
}

