:root {
    --text-color: #4e4f52;
    --background-color: #38e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* general section formatting */
section {
    padding: 40px;
}

section h2 {
    font-size: 40px;
}

section nav ul li {
    display: inline;
}

section nav ul li a {
    list-style: none;
    color: var(--text-color)
}

section p a {
    color:var(--text-color);
}

/* header formatting begins here */
header {
    padding: 20px 0 20px 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    display: inline;
}

header h1 a {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 0 15px 0 75px;
}

header a {
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: var(--text-color);
}

/* hero formatting starts here */
.hero {
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero h2 {
    color: var(--background-color);
    position: absolute;
    bottom: 40px;
    right: 100px;
    font-size: 30px;
    padding: 10px;
    background-color: var(--text-color);
}

/* about me formatting begins */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-title {
    flex: .25;
    padding-right: 20px;
    border-right: 3px solid var(--text-color);
}

.about-img {
    flex: 1;
    padding-left: 20px;
    border: 1px solid black;
}

.about-img img {
    max-width: 50%;
}

.about-text {
    flex: 2;
    border: 1px solid black;
}

.fun {
    font-weight: bold;
}

/* my work formatting begins */
.project img {
    max-width: 50%;
    opacity: 0.5;
}

.project:hover img {
    opacity: 1;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.project h3, .project p {
    background-color: var(--background-color);
}

/* footer formatting begins */
footer {
    background-color: var(--background-color);
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}

footer h3 {
    display: inline;
    color: var(--text-color);
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
}
