* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #4e4f52;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    padding: 20px 35px;
    background-color: #38e9e9;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    display: inline;
    padding: 30px;
}

header a {
    text-decoration: none;
    color: #4e4f52;
}

header nav ul {
    list-style: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background-color: #38e9e9;
    width: 100%;
    padding: 15px 15px;
}

footer h3 {
    display: inline;
    color: #4e4f52;
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
}

section {
    padding: 60px;
}

.hero {
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    color: #4e4f52;
    position: absolute;
    bottom: 40px;
    right: 100px;
    font-size: 30px;
    padding: 10px;
    background-color: #38e9e9;
}

.content h2 {
    font-size: 50px;
}

.fun {
    font-weight: bold;
}

.content img {
    width: 15%;
    float: left;
    padding: auto;
}